:root {
  --white-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  background: #ffffff;
  font-family: Poppins, sans-serif;
  letter-spacing: -0.01em;
  font-weight: 400;
  line-height: 1.5;
}

ul {
  list-style: none;
}

.wrapper {
  display: flex;
}

.menu-container {
  padding: 36px 28px 76px 28px;
}

.menu__logo {
  display: flex;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 65px;
}

.menu__logo-version {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: #838383;
}

.menu-icon {
  margin-right: 14px;
  width: 24px;
}

.menu__logo-version {
  margin-left: 4px;
}

.logo-container {
  display: flex;
  align-items: baseline;
}

.menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.menu-list__item {
  display: flex;
  align-items: center;
  width: 250px;
  padding: 11px 8px 11px 11px;
  border-radius: 8px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.menu-list__item-link {
  display: flex;
  align-items: center;
  width: 231px;
  color: #9197b3;
}

.link-description {
  font-weight: 500;
  font-size: 14px;
  color: #9197b3;
}

.menu-arrow-icon {
  display: flex;
}

.arrow-container {
  display: flex;
  width: inherit;
  justify-content: flex-end;
}

.user {
  display: flex;
  margin-top: 597px;
}

.current {
  background-color: #5932ea;
  color: #ffffff;
}

.active {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}

.menu-arrow-icon-current {
  fill: #ffffff;
}

.user__link {
  margin-right: 12px;
}

.user-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.user-profession {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #757575;
}

.main-info {
  background-color: #fafbff;
  padding: 41px 95px 258px 71px;
}

.greeting-title {
  margin-bottom: 51px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}

.main-content {
  background-color: #ffffff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  padding: 30px 44px 40px 38px;
}

.main-content___title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #000000;
  margin-bottom: 7px;
}

.main-content__members {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #16c098;
}

table {
  display: flex;
  flex-direction: column;
}

thead {
  margin-bottom: 34px;
}

thead th::after {
  content: "";
  border: 1px solid #EEEEEE;
  position: absolute;
  width: 968px;
  height: 0px;
  left: 377px;
  top: 294px;
}

thead th {
  text-align: start;
  width: 170px;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #b5b7c0;
}

thead tr {
  justify-content: flex-start;
  display: flex;
  margin-bottom: 14px;
}

.active-box {
  text-align: center;
  color: #008767;
}

.company {
  width: 130px;
}

.country {
  width: 140px;
}

.phone {
  width: 156px;
}

.email {
  width: 207px;
}

.country-name {
  width: 140px;
}

.phone-number {
  width: 156px;
}

.company-name {
  width: 130px;
}

.email-company {
  width: 207px;
}

.active-box {
  width: 100px;
}

.inactive-box {
  text-align: center;
  color: #df0404;
  width: 100px;
}

tbody {
  display: flex;
  flex-direction: column;
}

tbody tr {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

tbody tr::after {
  content: "";
  position: absolute;
  width: 888px;
  height: 0px;
  left: 417px;
  top: 375px;
  border: 1px solid #EEEEEE;
}

tbody td {
  text-align: start;
  width: 170px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #292d32;
}

.status {
  text-align: center;
  width: 100px;
}

.activ-status {
  display: inline-block;
  width: 100px;
  background-color: rgba(22, 192, 152, 0.38);
  border: 1px solid #00b087;
  border-radius: 4px;
  padding: 4px 12px;
}

.inactiv-status {
  display: inline-block;
  width: 100px;
  background-color: #ffc5c5;
  border: 1px solid #df0404;
  border-radius: 4px;
  padding: 4px 18px;
}/*# sourceMappingURL=main.css.map */